.img-wrap {
    margin: 1%;
    display: inline-block;
    position: relative;
    text-align: center;
    

    & > .close {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0 ,0, 0.5);
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        left: 15px;
    }
    
    &:hover > .close {
        opacity: 1;
        display: block;
      
    }

    & img {
        height: 5vw;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        
    }
}

.trash-material-icon {

       background-color: #949599;
       color: white;
       -moz-border-radius: 100%;
       -webkit-border-radius: 100%;
       border-radius: 100%;
       /* height: 90px; */
       margin: 1.1vw 0;
       padding: 0.6vw;
       text-align: center;
}