<div class="img-wrap">
    <div class="row close" *ngIf="editMode">
        <i (click)="removeFile($event)" class="material-icons trash-material-icon">
            delete
        </i>
    </div>
    <img #img>
</div>