
.container-fluid{
    height : 100%;
}
 
.email-container{
    margin: 0 auto;
    background-color: #FFFFFF;
    padding-bottom: 3vh;
    box-shadow :0.5px 0.5px 4px 0px rgba(0,0,0,0.5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
}
.header{
    background-color: #0E4357;
    height: 7vh;
    color: white;
    font-weight: lighter;
    margin-bottom: 3vh;
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
}

.button-file{
    border-radius: 100%;
}

.send-button{
    background-color: #20BFEE;
    width: 100%;
    color: white;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    border: 0;
    display: flex;
    place-content: space-evenly;
    &:disabled {
        background-color : #E0E0E0;
        color: #9B9D9F;
    }
}

.send-text{
    font-weight: 100;
    font-size: 18px;
    line-height: 1.3;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border : 1px solid red;
}

.image-upload > input
{
    display: none;
}


.image-upload > label {
    border: 1px solid #EDEDED;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    font-size: 22px;
    padding: 5px 5px;
    color: #95979A; 
    & > i {
        display: block;
    }
}
.thumbnails {
    margin : 0.5vh 0;
}
