<div class="container-fluid row align-items-center justify-content-start">

  <div class="col-5 email-container">

    <div class="row header align-items-center justify-content-center">
      <div class="col-11">Send Email</div>
    </div>
    <div class="main-content">
      <form [formGroup]="emailForm" class="row align-items-center justify-content-center" (ngSubmit)="onSubmit()">
        <div class="col-11">
          <div class="row align-items-center justify-content-center">
            <div class="col form-group">
              <input type="text" class="form-control" name="recipient" placeholder="To" formControlName="To">
            </div>
          </div>
          <div class="row align-items-center justify-content-center">
            <div class="col form-group">
              <input type="text" class="form-control" name="carbonCopy" placeholder="CC" formControlName="CC">
            </div>
          </div>
          <div class="row align-items-center justify-content-center">
            <div class="col form-group">
              <input type="text" class="form-control" name="blockCarbonCopy" placeholder="BCC" formControlName="BCC">
            </div>
          </div>
          <div class="row align-items-center justify-content-center">
            <div class="col form-group">
              <input type="text" class="form-control" name="subject" placeholder="Subject" formControlName="Subject">
            </div>
          </div>
          <div class="row align-items-center justify-content-center">
            <div class="col form-group">
              <textarea rows="6"  class="form-control" name="message" placeholder="Message" formControlName="Message"></textarea>
            </div>
          </div>
          <span *ngIf="filesUpload.length > 0">Attached Files</span>

          <div #inputFiles class="thumbnails">
              <app-thumbnail *ngFor="let file of filesUpload; let i = index" [index]="i" [editMode]="true"></app-thumbnail>
            </div>
          <div class="row justify-content-between">
            <div class="col-1">
                <div class="image-upload">
                    <label for="file-input">
                        <i class="material-icons">
                            attach_file
                            </i>
                    </label>
                
                    <input id="file-input" type="file" multiple formControlName="Files" (change)="onAddFile($event, inputFiles)"/>
                  
                </div>
            </div>
            <div class="col-3">
              <button class="send-button btn btn-submit" type="submit" [disabled]="!emailForm.valid">
                  <i class="material-icons">arrow_forward</i><span class="send-text">Send</span>
              </button>
            </div>
          </div>
        
        </div>
      </form>
    </div>
  </div>
</div>