<div class="container-fluid row align-items-center justify-content-start">

    <div class="col-5 email-container">
      <div class="row align-items-center justify-content-center">
        <div class="col-2">
          <div class="row align-items-center justify-content-center row-success-icon">
            
              <i class="material-icons">
                  check_circle
                  </i>
            
          </div>  
        </div>
      </div>
      <div class="row align-items-center justify-content-center">
          <div class="col text-center message-success">Your email has been sent</div>
      </div>
      <hr>
      <div class="row">
        <div class="col subject-email-success">{{currentEmail.Subject}}</div>
      </div>
      <div class="row">
          <div class="col to-email-success ">to <a href="{{currentEmail.To}}" target="_top">{{currentEmail.To}}</a></div>
      </div>
      <div class="row">
          <div class="col message-email-success">{{currentEmail.Message}}</div>
      </div>
      <div #inputFiles class="thumbnails">
          <app-thumbnail *ngFor="let file of filesUpload; let i = index" [index]="i" [editMode]="false"></app-thumbnail>
        </div>
    </div>
  </div>