
    .container-fluid{
        height : 100%;
        color :   #1C1C1C;
    }
     
    .email-container{
        margin: 0 auto;
        background-color: #FFFFFF;
        padding-bottom: 6vh;
        box-shadow :0.5px 0.5px 4px 0px rgba(0,0,0,0.5);
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;

        & > div {
            margin: 0 2vw;
        }
         & > div:last-child {
            margin-left: 2.5vw;
         }
    }
    hr {
        margin: 4.5vh 3vw;
    }
    .header{
        background-color: #0E4357;
        height: 7vh;
        color: white;
        font-weight: lighter;
        margin-bottom: 3vh;
        border-radius: 5px 5px 0px 0px;
        -moz-border-radius: 5px 5px 0px 0px;
        -webkit-border-radius: 5px 5px 0px 0px;
    }
    
    .button-file{
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        border-radius: 100%;
    }
    
    .send-button{
        background-color: #20BFEE;
        width: 100%;
        color: white;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        border-radius: 20px;
        border: 0;
        &:disabled {
            background-color : #E0E0E0;
            color: #9B9D9F;
        }
    }
    
    .send-text{
        margin-left: 1vw;
        font-weight: 100;
    }
    
    input.ng-invalid.ng-touched,
    textarea.ng-invalid.ng-touched {
        border : 1px solid red;
    }
    
    .image-upload > input
    {
        display: none;
    }
    .attach-doc {
        cursor: pointer;
        transform : rotateZ(-43deg);
    }
    
    .image-upload > label {
        border: 1px solid #EDEDED;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        padding: 0px 5px;
        color: #95979A;
    }

    .row-success-icon {
        margin-top: 6vh;
        margin-bottom: 2vh;
        & > i {
            font-size: 100px;
            color: #42CF92;
        }
    }

    .success-icon {
        color: white;
        font-size: 50px;
        text-align: center;
    }
    
    .message-success {
        color : #686868;
        
    }

    .subject-email-success {
        font-weight: 600;
        font-size: 16px;
    }
    .to-email-success {
        font-size: 12px;
        line-height: 2;
    }

    .message-email-success {
        margin: 3vh 0;
        font-size: 14px;
        color: #3A3A3A;
    }
  