/* You can add global styles to this file, and also import other style files */
body {
    
      background: #20bfee; /* Old browsers */
      background: -moz-linear-gradient(top, #20bfee 0%, #57d2db 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, #20bfee 0%,#57d2db 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, #20bfee 0%,#57d2db 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20bfee', endColorstr='#57d2db',GradientType=0 ); /* IE6-9 */
   
      
      margin: 0;
      -webkit-box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.11);
      -moz-box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.11);
      box-shadow: inset 0px 5px 5px 0px rgba(0,0,0,0.11);
}
html, body {
    margin: 0;
    height: 100%;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.btn:focus, button:focus {
    outline: none !important;
  }

.form-group {
    margin-bottom: 0.8rem !important;
}